<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me!</h2>
<div class="summary">
	<p>Hello! My name is Guo Suiming and has been studying in Tsinghua University (as an undergraduate and master student) and the Chinese University of Hong Kong (as a PhD student). My expected graduation date would be on the first half of 2018.</p>
    <p>I am interested in the Internet-related industry, instead of the academia:</p>
    <p> -- Doing something in a big Internet company may change a lot, because they have a large number of users in all different kinds of service. Examples include messaging service, online music, online gaming, ride-on-demand, O2O, searching, etc.</p>
    <p> -- Nowadays, the big Internet companies are the ones that have the power of data, and they could do a lot of things based on the data: analysis, user pattern mining, recommendation, designing new services, etc. On the contrary, in the academia, people always have to rely on the collaborations with companies to obtain the first-hand understanding of what is going on in all kinds of new services.</p>
    <p>  </p>
    <p>That's also why I am always doing researches based on real problems from the industry, in a data-analytical methodology. I don't think pure theoretical modelling is a good idea...</p>
</div><!--//summary-->
</section><!--//section-->