<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>About Me</h2>
<div class="summary">
	<p>Hello! My name is Guo Suiming and has been studying in Tsinghua University (as an undergraduate and master student) and the Chinese University of Hong Kong (as a PhD student). My expected graduation date would be on the first half of 2018.</p>
    <p>I am interested in the Internet-related industry, as well as the academia, and my research interests are:</p>
    <p>-- Big data mining, analysis, modelling</p>
    <p>-- Ubiquitous computing</p>
    <p>-- City-level data mining and smart cities</p>
    <p>-- Computer networking</p>
    <p>  </p>
    <p>I like doing researches based on real problems from the industry, in a data-analytical methodology.</p>
    <p> </p>
    <p>中文版简历[pdf, <a href="https://smguo07.github.io/online-cv/Resume_SuimingGuo_Chs.pdf" target="_blank">link</a>]</p>
</div><!--//summary-->
</section><!--//section-->