 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">PhD in Information Engineering</h4>
    <h5 class="meta">The Chinese University of Hong Kong</h5>
    <h5 class="meta">with Prof. Dah Ming Chiu</h5>
    <div class="time">2013 - 2018</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">MSc in Electronic Engineering</h4>
    <h5 class="meta">Tsinghua University</h5>
    <h5 class="meta">with Prof. Xing Li</h5>
    <div class="time">2011 - 2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BEng in Electronic Engineering</h4>
    <h5 class="meta">Tsinghua University</h5>
    <div class="time">2007 - 2011</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Visiting Student</h4>
    <h5 class="meta">Department of Electrical and Computer Engineering, University of Toronto</h5>
    <div class="time">2009.8 - 2009.12</div>
</div><!--//item-->
</div><!--//education-container-->