 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">PhD in Information Engineering</h4>
    <h5 class="meta">The Chinese University of Hong Kong</h5>
    <h5 class="meta">with <a href="http://personal.ie.cuhk.edu.hk/~dmchiu/" target="_blank">Prof. Dah Ming Chiu</a></h5>
    <div class="time">2013 - 2018</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">MSc in Electronic Engineering</h4>
    <h5 class="meta">Tsinghua University</h5>
    <h5 class="meta">with <a href="https://www.tsinghua.edu.cn/publish/eeen/3784/2010/20101219113912454155247/20101219113912454155247_.html" target="_blank">Prof. Xing Li</a></h5>
    <div class="time">2011 - 2013</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">BEng in Electronic Engineering</h4>
    <h5 class="meta">Tsinghua University</h5>
    <h5 class="meta">GPA: <b>91.0</b>, Ranking: <b>15</b>/260</h5>
    <div class="time">2007 - 2011</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Visiting Student</h4>
    <h5 class="meta">Department of Electrical and Computer Engineering, <a href="https://www.utoronto.ca/" target="_blank">University of Toronto</a></h5>
    <h5 class="meta">GPA: <b>4.0</b>, All A+</h5>
    <div class="time">2009.8 - 2009.12</div>
</div><!--//item-->
</div><!--//education-container-->