<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Intern Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Development Engineer Intern</h3>
                            <div class="time">2016.2 - 2016.3</div>
                        </div><!--//upper-row-->
                        <div class="company">Shenzhou UCar, Beijing</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>a)   Responsible for the data collection and data analysis of Shenzhou UCar’s ride-on-demand service, including the data of orders, GPS trajectories, payment and event-logs.</p>  
                        <p>b)   Responsible for the study on ride-on-demand service, including data analysis, demand and dynamic pricing, passengers’ behavior, etc. </p>
                        <p>c)   Engaged in the study about applying different schemes to influence drivers’ behavior to improve service efficiency.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Development Engineer Intern</h3>
                            <div class="time">2012.4 - 2012.8</div>
                        </div><!--//upper-row-->
                        <div class="company">CERNET, Beijing</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>a)   Responsible for the research and development of DVTS+ (Digital Video Transport System Plus, a multi-point standard-definition video conferencing system).</p>
                        <p>b)   Designed the architecture and implemented a new version of DVTS+, the Distributed DVTS+, supporting more than one video stream transmitters and increasing system scalability and capacity.</p>
                        <p>c)   Improved the GUI of the existing DVTS+ and added new functionality to the system.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Development Engineer Intern</h3>
                            <div class="time">2012.1 - 2012.6</div>
                        </div><!--//upper-row-->
                        <div class="company">Microsoft, Beijing</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>a)   Worked as a member of the Exchange Manageability Team of Microsoft Office Division.</p>  
                        <p>b)   Engaged in improving code coverage of the product and helped in the perfection of the unit-test framework. Wrote test cases to test and guarantee the quality of the product.</p>
                        <p>c)   Engaged in bug testing and fixing of the product.</p>
                        <p>d)   Extended the product test infrastructure to support “debug mode”, facilitating the debug process of both developers and tester.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->