<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Intern Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Development Engineer Intern</h3>
                            <div class="time">2016.2 - 2016.3</div>
                        </div><!--//upper-row-->
                        <div class="company">Shenzhou UCar, Beijing</div>
                    </div><!--//meta-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Development Engineer Intern</h3>
                            <div class="time">2012.4 - 2012.8</div>
                        </div><!--//upper-row-->
                        <div class="company">CERNET, Beijing</div>
                    </div><!--//meta-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Software Development Engineer Intern</h3>
                            <div class="time">2012.1 - 2012.6</div>
                        </div><!--//upper-row-->
                        <div class="company">Microsoft, Beijing</div>
                    </div><!--//meta-->
                </div><!--//item-->
                
            </section><!--//section-->