<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Research Projects</h2>
                <div class="intro">
                    <p>The research projects I participated are listed. Relevant publications are also listed.</p>
                </div><!--//intro-->
                <div class="item">
                    <p>-------------------</p>
                    <span class="project-title"><a href="#hook">1. Dynamic Pricing in Ride-on-demand Services</a></span> - <span class="project-tagline">Ride-on-demand services such as Uber, Didi or Shenzhou UCar are prevalent in recent years, and we collaborate with Shenzhou UCar in China to dig into the details -- how does dynamic pricing plays an important role?</span>
                    <p>  </p>
                    <p><b>Publications:</b></p>
                    <p> -- [1] <u>Suiming Guo</u>, Chao Chen, Yaxiao Liu, Ke Xu, Dah Ming Chiu, <b><i>It Can be Cheaper: Using Price Prediction to Obtain Better Prices from Dynamic Pricing in Ride-on-demand Services</i></b>, in 14th Annual International Conference on Mobile and Ubiquitous Systems: Computing, Networking and Services (MobiQuitous 2017) (accepted), Melbourne, Australia.</p>
                    <p> -- [2] <u>Suiming Guo</u>, Chao Chen, Yaxiao Liu, Ke Xu, Dah Ming Chiu, <b><i>Modelling Passengers’ Reaction to Dynamic Prices in Ride-on-demand Services: A Search for the Best Fare</i></b>, in Ubicomp 2018 and ACM IMWUT (2017-12 Issue) (accepted).</p>
                    <p> -- [3] <u>Suiming Guo</u>, Yaxiao Liu, Ke Xu, Dah Ming Chiu, <b><i>Understanding Passenger Reaction to Dynamic Prices in Ride-on-demand Service</i></b>, in 2017 IEEE International Conference on Pervasive Computing and Communications Workshops (PerCom Workshops), Hawaii, USA, 2017. <a href="http://ieeexplore.ieee.org/document/7917517/" target="_blank">[link]</a></p>
                    <p> -- [4] <u>Suiming Guo</u>, Yaxiao Liu, Ke Xu, Dah Ming Chiu, <b><i>Understanding Ride-on-demand Service: Demand and Dynamic Pricing</i></b>, in 2017 IEEE International Conference on Pervasive Computing and Communications Workshops (PerCom Workshops), Hawaii, USA, 2017. <a href="http://ieeexplore.ieee.org/document/7917615/" target="_blank">[link]</a></p>
                    
                </div><!--//item-->
                <div class="item">
                    <p>-------------------</p>
                    <span class="project-title"><a href="#hook" target="_blank">2. Content Delivery to Smart Homes</a></span> - 
                    <span class="project-tagline">Smart home devices are becoming increasingly popular nowadays, and users could control them remotely through the Internet. What new downloading patterns are becoming possible? How we could make full use of them to improve user experience? We collaborate with Xunlei to find out.</span>
                    <p>  </p>
                    <p><b>Publications:</b></p>
                    <p> -- [5] <u>Suiming Guo</u>, Liang Chen, Dah Ming Chiu, <b><i>An Incentive-based Mixed QoE Framework for Content Delivery to Smart Homes</i></b>, in 26th International Conference on Computer Communications and Networks (ICCCN 2017), Vancouver, Canada, 2017.</p>
                    <p> -- [6] <u>Suiming Guo</u>, Liang Chen, Dah Ming Chiu, <b><i>DST: Leveraging Delay-insensitive Workload in Cloud Storage for Smart Home Network</i></b>, in 24th International Conference on Computer Communications and Networks (ICCCN 2015), Las Vegas, USA, 2015. <a href="http://ieeexplore.ieee.org/document/7288401/" target="_blank">[link]</a></p>
                    <p> -- [7] Liang Chen, <u>Suiming Guo</u>, Guoqiang Zhang, <b><i>Distributing Very-large Content from Cloud to Smart Home Hubs: Measurement and Implications</i></b>, in The 2015 IEEE International Conference on Communications (ICC 2015), London, UK, 2015. <a href="http://ieeexplore.ieee.org/document/7248348/" target="_blank">[link]</a></p>
                    <p> -- [8] <u>Suiming Guo</u>, Liang Chen, Guoqiang Zhang, Dah Ming Chiu, <b><i>Batching for Smart Home: Leveraging Delay-insensitive Workload in Cloud Storage</i></b>, in 7th International Conference on COMmunication Systems and NETworkS (COMSNETS 2015), Bangalore, India, 2015. <a href="http://ieeexplore.ieee.org/document/7098671/" target="_blank">[link]</a></p>
                </div><!--//item-->
                <div class="item">
                    <p>-------------------</p>
                    <span class="project-title"><a href="#hook" target="_blank">3. Scalable, Standard-definition, Low-latency Video Conferencing Systems</a></span> - <span class="project-tagline">The design, development and discussions: how to bulid a scalable, multi-point, standard-definition, low-latency video conferencing systems? We also used it in business scenarios.</span>
                    <p>  </p>
                    <p><b>Publications:</b></p>
                    <p> -- [9] <u>Suiming Guo</u>, Congxiao Bao, Xing Li, <b><i>Scalable Distributed Standard Definition Video Conferencing System: Architecture and Forwarding Model</i></b>, in 2012 National Conference on Information Technology and Computer Science (EI Indexed). <a href="https://www.researchgate.net/publication/266643328_Scalable_Distributed_Standard_Definition_Video_Conferencing_System_Architecture_and_Forwarding_Model" target="_blank">[link]</a></p>
                    <p> -- [10] 李星, <u>郭穗鸣</u>, 包丛笑, <b><i>可扩展分布式标清视频会议系统: 结构和转发模型</i></b>, 清华大学学报: 自然科学版, 52(9), 1275--1280, 2012. <a href="http://www.cnki.com.cn/Article/CJFDTotal-QHXB201209021.htm" target="_blank">[link]</a></p>
                </div>
            </section><!--//section-->

<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Awards</h2>
                <div class="item">
                    <span class="project-title">2013-2016: Hong Kong PhD Fellowship (HKPFS)</span> - <span class="project-tagline">(Only 185 awardees out of 4785 applicants around all Hong Kong universities.) <a href="http://www.ugc.edu.hk/eng/ugc/about/press_speech_other/press/2013/pr10042013.html" target="_blank">[link]</a></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">2011-2012: First Class Scholarship for All-round Performance</span> - <span class="project-tagline">(Top 1%, in Tsinghua University)</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">2008-2009: First Class Scholarship for Academic Performance</span> - <span class="project-tagline">(Top 5%, in Tsinghua University)</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">2009-2010: First Class Scholarship for Academic Performance</span> - <span class="project-tagline">(Top 5%, in Tsinghua University)</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">2010: Honorable Mention Award in MCM (Mathematical Contest in Modeling)</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">2006: Silver Medal in China Physics Olympiad (CPhO)</span>
                </div><!--//item-->
            </section><!--//section-->