<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Services</h2>
                <div class="item">
                    <p> 1. TPC of IEEE UIC 2019 (The 16th IEEE International Conference on Ubiquitous Intelligence and Computing)</p>
                    <p> 2. Reviewer for:</p>
                    <p> ---- IEEE UIC 2019</p>
                    <p> ---- Springer Human-centric Computing and Information Sciences</p>
                    <p> ---- MobiQuitous 2019</p>     
                </div><!--//item-->
            </section><!--//section-->

<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Publications</h2>
                <div class="intro">
                    <p>Publications are listed from the latest to the oldest.</p>
                </div><!--//intro-->
                <div class="item">
                    <p>-------------------</p>
                    <p>  </p>
                    <p> 15. <u>Suiming Guo</u>, Chao Chen, Jingyuan Wang, Yaxiao Liu, Ke Xu, Zhiwen Yu, Daqing Zhang, Dah Ming Chiu, <b><i>ROD-Revenue: Seeking Strategies Analysis and Revenue Prediction in Ride-on-demand Service Using Multi-source Urban Data </i></b>, in IEEE Transactions on Mobile Computing (TMC) (JCR Q1 & CCF-A). <a href="https://ieeexplore.ieee.org/document/8733999" target="_blank">[link of IEEE EarlyAccess]</a></p>
                    <p> 14. <u>Suiming Guo</u>, Chao Chen, Jingyuan Wang, Yaxiao Liu, Ke Xu, Dah Ming Chiu, <b><i>Fine-grained Dynamic Price Prediction in Ride-on-demand Services: Models and Evaluations </i></b>, in Mobile Network and Applications (MONET) (JCR Q2).  <a href="https://link.springer.com/article/10.1007%2Fs11036-019-01308-5" target="_blank">[link of Springer OnlineFirst]</a></p></p>
                    <p> 13. <u>Suiming Guo</u>, Chao Chen, Jingyuan Wang, Yaxiao Liu, Ke Xu, Dah Ming Chiu, <b><i>Dynamic Price Prediction in Ride-on-demand Service with Multi-source Urban Data </i></b>, in 15th Annual International Conference on Mobile and Ubiquitous Systems: Computing, Networking and Services (MobiQuitous 2018), New York, US. <a href="https://dl.acm.org/citation.cfm?id=3286992" target="_blank">[link]</a></p>
                    <p> 12. <u>Suiming Guo</u>, Chao Chen, Jingyuan Wang, Yaxiao Liu, Ke Xu, Daqing Zhang, Dah Ming Chiu, <b><i>A Simple but Quantifiable Approach to Dynamic Price Prediction in Ride-on-demand Services Leveraging Multi-source Urban Data</i></b>, in Ubicomp 2018 and ACM IMWUT (2018-09 Issue). <a href="https://dl.acm.org/citation.cfm?id=3264922" target="_blank">[link]</a><a href="https://smguo07.github.io/online-cv/ubicomp_2.pdf" target="_blank">[slides]</a></p>
                    <p> 11. <u>Suiming Guo</u>, Chao Chen, Yaxiao Liu, Ke Xu, Bin Guo, Dah Ming Chiu, <b><i>How to pay less: a location-specific approach to predict dynamic prices in ride-on-demand services</i></b>, in IET Intelligent Transport Systems. <a href="http://digital-library.theiet.org/content/journals/10.1049/iet-its.2017.0300" target="_blank">[link]</a></p>
                    <p> 10. <u>Suiming Guo</u>, Chao Chen, Yaxiao Liu, Ke Xu, Dah Ming Chiu, <b><i>It Can be Cheaper: Using Price Prediction to Obtain Better Prices from Dynamic Pricing in Ride-on-demand Services</i></b>, in 14th Annual International Conference on Mobile and Ubiquitous Systems: Computing, Networking and Services (MobiQuitous 2017), Melbourne, Australia. <a href="https://dl.acm.org/citation.cfm?id=3144476" target="_blank">[link]</a></p>
                    <p> 9. <u>Suiming Guo</u>, Chao Chen, Yaxiao Liu, Ke Xu, Dah Ming Chiu, <b><i>Modelling Passengers’ Reaction to Dynamic Prices in Ride-on-demand Services: A Search for the Best Fare</i></b>, in Ubicomp 2018 and ACM IMWUT (2017-12 Issue). <a href="https://dl.acm.org/citation.cfm?id=3161194" target="_blank">[link]</a><a href="https://smguo07.github.io/online-cv/ubicomp_1.pdf" target="_blank">[slides]</a></p>
                    <p> 8. <u>Suiming Guo</u>, Yaxiao Liu, Ke Xu, Dah Ming Chiu, <b><i>Understanding Passenger Reaction to Dynamic Prices in Ride-on-demand Service</i></b>, in 2017 IEEE International Conference on Pervasive Computing and Communications Workshops (PerCom Workshops), Hawaii, USA, 2017. <a href="http://ieeexplore.ieee.org/document/7917517/" target="_blank">[link]</a></p>
                    <p> 7. <u>Suiming Guo</u>, Yaxiao Liu, Ke Xu, Dah Ming Chiu, <b><i>Understanding Ride-on-demand Service: Demand and Dynamic Pricing</i></b>, in 2017 IEEE International Conference on Pervasive Computing and Communications Workshops (PerCom Workshops), Hawaii, USA, 2017. <a href="http://ieeexplore.ieee.org/document/7917615/" target="_blank">[link]</a></p>
                    <p> 6. <u>Suiming Guo</u>, Liang Chen, Dah Ming Chiu, <b><i>An Incentive-based Mixed QoE Framework for Content Delivery to Smart Homes</i></b>, in 26th International Conference on Computer Communications and Networks (ICCCN 2017), Vancouver, Canada, 2017.<a href="https://ieeexplore.ieee.org/document/8038366/" target="_blank">[link]</a></p>
                    <p> 5. <u>Suiming Guo</u>, Liang Chen, Dah Ming Chiu, <b><i>DST: Leveraging Delay-insensitive Workload in Cloud Storage for Smart Home Network</i></b>, in 24th International Conference on Computer Communications and Networks (ICCCN 2015), Las Vegas, USA, 2015. <a href="http://ieeexplore.ieee.org/document/7288401/" target="_blank">[link]</a></p>
                    <p> 4. Liang Chen, <u>Suiming Guo</u>, Guoqiang Zhang, <b><i>Distributing Very-large Content from Cloud to Smart Home Hubs: Measurement and Implications</i></b>, in The 2015 IEEE International Conference on Communications (ICC 2015), London, UK, 2015. <a href="http://ieeexplore.ieee.org/document/7248348/" target="_blank">[link]</a> (<u>corresponding author</u>)</p>
                    <p> 3. <u>Suiming Guo</u>, Liang Chen, Guoqiang Zhang, Dah Ming Chiu, <b><i>Batching for Smart Home: Leveraging Delay-insensitive Workload in Cloud Storage</i></b>, in 7th International Conference on COMmunication Systems and NETworkS (COMSNETS 2015), Bangalore, India, 2015. <a href="http://ieeexplore.ieee.org/document/7098671/" target="_blank">[link]</a></p>                
                    <p> 2. <u>Suiming Guo</u>, Congxiao Bao, Xing Li, <b><i>Scalable Distributed Standard Definition Video Conferencing System: Architecture and Forwarding Model</i></b>, in 2012 National Conference on Information Technology and Computer Science (EI Indexed). <a href="https://www.researchgate.net/publication/266643328_Scalable_Distributed_Standard_Definition_Video_Conferencing_System_Architecture_and_Forwarding_Model" target="_blank">[link]</a></p>
                    <p> 1. 李星, <u>郭穗鸣</u>, 包丛笑, <b><i>可扩展分布式标清视频会议系统: 结构和转发模型</i></b>, 清华大学学报: 自然科学版, 52(9), 1275--1280, 2012. <a href="http://www.cnki.com.cn/Article/CJFDTotal-QHXB201209021.htm" target="_blank">[link]</a></p>                    
                </div><!--//item-->
            </section><!--//section-->

<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Awards</h2>
                <div class="item">
                    <span class="project-title">2013-2016: Hong Kong PhD Fellowship (HKPFS)</span> - <span class="project-tagline">(Only 185 awardees around all Hong Kong universities in 2013.) <a href="http://www.ugc.edu.hk/eng/ugc/about/press_speech_other/press/2013/pr10042013.html" target="_blank">[link]</a></span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">2011-2012: First Class Scholarship for All-round Performance (清华大学综合一等奖学金)</span> - <span class="project-tagline">(Top 1%, in Tsinghua University)</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">2008-2009: First Class Scholarship for Academic Performance (清华大学学业一等奖学金)</span> - <span class="project-tagline">(Top 5%, in Tsinghua University)</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">2009-2010: First Class Scholarship for Academic Performance (清华大学学业一等奖学金)</span> - <span class="project-tagline">(Top 5%, in Tsinghua University)</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">2010: Honorable Mention Award in MCM (Mathematical Contest in Modeling)</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">2006: Silver Medal in China Physics Olympiad (CPhO) (2006年第23届全国中学生物理奥林匹克竞赛一等奖，全国决赛/中国物理奥林匹克银牌)</span>
                </div><!--//item-->
            </section><!--//section-->