<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Research Projects</h2>
                <div class="intro">
                    <p>In the following, the research projects I participated are listed.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Dynamic Pricing in Ride-on-demand Services</a></span> - <span class="project-tagline">Ride-on-demand services such as Uber, Didi or Shenzhou UCar are prevalent in recent years, and we collaborate with Shenzhou UCar in China to dig into the details -- how does dynamic pricing plays an important role?</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#hook" target="_blank">Content Delivery to Smart Homes</a></span> - 
                    <span class="project-tagline">Smart home devices are becoming increasingly popular nowadays, and users could control them remotely through the Internet. What new downloading patterns are becoming possible? How we could make full use of them to improve user experience?</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#hook" target="_blank">Scalable, Standard-definition, Low-latency Video Conferencing Systems</a></span> - <span class="project-tagline">The design, development and discussions: how to bulid a scalable, multi-point, standard-definition, low-latency video conferencing systems? We also used it in business scenarios.</span>
            </section><!--//section-->